* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
:root {
    --ig-grey: #121212;
    --ig-border: #262626;
}
.main {
    height: 100vh;
    width: 100%;
    background-color: var(--ig-grey);
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    .nav-section {
        height: 100vh;
        grid-column: 0 / 1;
        background-color: black;
        border-right: 1px solid var(--ig-border);
        button {
            background-color: transparent;
            color: white;
        }
    }
    .main-section {
        grid-column: 1 / 2;
        display: flex;
    }
}