* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
:root {
    --twt-clr: #1D9BF0;
    --twt-brdr: rgb(51, 51, 51);
}
body {
    background-color: black;
}

.main {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: .9fr 1.65fr 1.2fr;
    // Main Section Dividers
    &div {
        height: 100vh;
        width: 100%;
    }
    &>div:not(.trends-section) {
        border-right: 1px solid var(--twt-brdr);
    }

    // Nav Section Styles
    .nav-section {
        display: flex;
        justify-content: center;
        .wrapper {
            position: fixed;
            display: flex;
            flex-direction: column;
            padding: 20px 0 40px 20px;
            width: 300px;
            height: 100vh;
            .header-block {
                height: unset;
                width: unset;
                margin-bottom: 20px;
                .fa-twitter {
                    font-size: 2rem;
                }
            }
            li, .header-block {
                padding-left: 30px;
            }
            li {
                font-size: 1.3rem;
                list-style-type: none;
                font-weight: 300;
                margin: 0 0 18px -10px;
                .nav-links {
                    text-decoration: none;
                    padding: 10px 15px;
                    border-radius: 50px;
                    transition: .1s ease-in-out;
                    &:hover {
                        background-color:#181818;
                    }
                }
                .home {
                    font-weight: 600;
                }
                .nav-icons {
                    margin-right: 20px;
                }
            }
            .twt-btn {
                width: 80%;
                height: 55px;
                border-radius: 30px;
                font-weight: bold;
                font-size: 1.1rem;
                margin: 0 5%;
                margin-left: 20px;
                cursor: pointer;
                background-color: var(--twt-clr);
                border: none;
                transition: .1s ease-in-out;
                &:hover {
                    background-color: #1989d3;
                }
            }
            .user-box-popup {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: auto;
                padding: 0 20px;
                & > div {
                    display: flex;
                }
                & img {
                    margin-top: 5px;
                    margin-right: 10px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }

                & p:first-child {
                    margin-top: 5px;
                    margin-bottom: -5px;
                    font-weight: 900;
                }
                & p:nth-child(2) {
                    font-size: .9rem;
                    color: rgb(92, 92, 92);
                }
                .fa-ellipsis {
                    justify-content: flex-end;
                }
            }
        }
    }

    .feed-section {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        .header-block {
            height: 60px;
            display: flex;
            align-items: center;
            padding: 0 15px;
            font-weight: 600;
            font-size: 1.25rem;
            justify-content: space-between;
            position: fixed;
            width: 43.4vw;
            background: rgba(0, 0, 0, 0.59);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(8.2px);
            z-index: 999;
        }
        // To do, make header-block "Home" fixed 
        .tweet-block {
            margin-top: 60px;
            height: 118px;
            border-bottom: 1px solid var(--twt-brdr);
            .tweet-write {
                height: 60px;
                display: flex;
                align-items: center;
                padding: 0 10px;
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin-right: 15px;
                }
                input[type="text"] {
                    background-color: transparent;
                    outline: none;
                    border: none;
                    width: 100%;
                    font-size: 1.25rem;
                }
            }
            .tweet-btns {
                height: 58px;
                padding: 0 18px 0 76px;
                display: flex;
                gap: 21px;
                align-items: center;
                button {
                    background-color: transparent;
                    border: none;
                    i {
                        color: var(--twt-clr);
                        font-size: 1rem;
                    }
                }
                .tweet-btn2 {
                    background-color: var(--twt-clr);
                    width: 76px;
                    height: 36px;
                    border-radius: 20px;
                    font-weight: 900;
                    font-size: .9rem;
                    justify-self: flex-end;
                    margin-left: auto;
                }
            }
            
        }
        .test {
            width: 50px;
            height: 500px;
            border: 1px solid blue;
            margin: 100px 0;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .main {
        grid-template-columns: 1fr 5fr 1fr;
        .nav-section {
            margin-left: auto;
            .wrapper {
                margin-left: 125px;
                .header-block {
                    margin-bottom: 40px;
                }
                li {
                    margin-bottom: 20px;
                }
                .nav-icons {
                    margin: 0 !important;
                }
                .hide-span {
                    display: none;
                }
                .twt-btn {
                    margin-left: 15px;
                    height: 60px;
                    width: 60px;
                }
                .user-box-popup {
                    margin-top: auto;
                    img {
                        margin-left: 5px;
                    }
                    i, p {
                        display: none;
                    }
                }
            }
        }

        .trends-section {
            display: none;
        }
        
    }
}

@media only screen and (max-width: 650px) {
    .main {
        grid-template-columns: 85px 1fr;
    }
}
