* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: white;
}

:root {
  --twt-clr: #1D9BF0;
  --twt-brdr: rgb(51, 51, 51);
  --twt-hover: rgb(8, 8, 8);
  --twt-usrname: rgb(92, 92, 92);
}

body {
  background-color: black;
}

.main {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 0.9fr 1.65fr 1.2fr;
}
.maindiv {
  height: 100vh;
  width: 100%;
}
.main > div:not(.trends-section) {
  border-right: 1px solid var(--twt-brdr);
}
.main .nav-section {
  display: flex;
  justify-content: center;
}
.main .nav-section .wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 20px 0 40px 20px;
  width: 300px;
  height: 100vh;
}
.main .nav-section .wrapper .header-block {
  height: unset;
  width: unset;
  margin-bottom: 20px;
}
.main .nav-section .wrapper .header-block .fa-twitter {
  font-size: 2rem;
}
.main .nav-section .wrapper li, .main .nav-section .wrapper .header-block {
  padding-left: 30px;
}
.main .nav-section .wrapper li {
  font-size: 1.3rem;
  list-style-type: none;
  font-weight: 300;
  margin: 0 0 18px -10px;
}
.main .nav-section .wrapper li .nav-links {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 50px;
  transition: 0.1s ease-in-out;
}
.main .nav-section .wrapper li .nav-links:hover {
  background-color: #181818;
}
.main .nav-section .wrapper li .home {
  font-weight: 600;
}
.main .nav-section .wrapper li .nav-icons {
  margin-right: 20px;
}
.main .nav-section .wrapper .twt-btn {
  width: 80%;
  height: 55px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0 5%;
  margin-left: 20px;
  cursor: pointer;
  background-color: var(--twt-clr);
  border: none;
  transition: 0.1s ease-in-out;
}
.main .nav-section .wrapper .twt-btn:hover {
  background-color: #1989d3;
}
.main .nav-section .wrapper .user-box-popup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0 20px;
}
.main .nav-section .wrapper .user-box-popup > div {
  display: flex;
}
.main .nav-section .wrapper .user-box-popup img {
  margin-top: 5px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.main .nav-section .wrapper .user-box-popup p:first-child {
  margin-top: 5px;
  margin-bottom: -5px;
  font-weight: 900;
}
.main .nav-section .wrapper .user-box-popup p:nth-child(2) {
  font-size: 0.9rem;
  color: var(--twt-usrname);
}
.main .nav-section .wrapper .user-box-popup .fa-ellipsis {
  justify-content: flex-end;
}
.main .feed-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.main .feed-section .header-block {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-weight: 600;
  font-size: 1.25rem;
  justify-content: space-between;
  position: fixed;
  width: 43.3vw;
  background: rgba(0, 0, 0, 0.59);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(8.2px);
          backdrop-filter: blur(8.2px);
  z-index: 999;
}
.main .feed-section .tweet-block {
  margin-top: 60px;
  height: 118px;
  border-bottom: 1px solid var(--twt-brdr);
}
.main .feed-section .tweet-block .tweet-write {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.main .feed-section .tweet-block .tweet-write img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.main .feed-section .tweet-block .tweet-write input[type=text] {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  font-size: 1.25rem;
}
.main .feed-section .tweet-block .tweet-btns {
  height: 58px;
  padding: 0 18px 0 76px;
  display: flex;
  gap: 21px;
  align-items: center;
}
.main .feed-section .tweet-block .tweet-btns button {
  background-color: transparent;
  border: none;
}
.main .feed-section .tweet-block .tweet-btns button i {
  color: var(--twt-clr);
  font-size: 1rem;
}
.main .feed-section .tweet-block .tweet-btns .tweet-btn2 {
  background-color: var(--twt-clr);
  width: 76px;
  height: 36px;
  border-radius: 20px;
  font-weight: 900;
  font-size: 0.9rem;
  justify-self: flex-end;
  margin-left: auto;
}
.main .feed-section .tweets {
  width: 100%;
  max-height: 500px;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  border-bottom: 1px solid var(--twt-brdr);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}
.main .feed-section .tweets i {
  color: var(--twt-usrname);
}
.main .feed-section .tweets .tweets-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}
.main .feed-section .tweets .tweets-wrapper .tweet-dp-wrapper {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 100%;
  margin-right: 12px;
}
.main .feed-section .tweets .tweets-wrapper img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.main .feed-section .tweets .tweets-wrapper .tweet-wrapper {
  height: 100%;
  width: 100%;
}
.main .feed-section .tweets .tweets-wrapper .tweet-wrapper .user-name-wrapper {
  height: 28px;
  width: 100%;
  display: flex;
  align-items: center;
}
.main .feed-section .tweets .tweets-wrapper .tweet-wrapper .user-name-wrapper .username, .main .feed-section .tweets .tweets-wrapper .tweet-wrapper .user-name-wrapper .time {
  margin-left: 6px;
  font-weight: 200;
  font-size: 0.85rem;
  color: var(--twt-usrname);
}
.main .feed-section .tweets .tweets-wrapper .tweet-wrapper .user-name-wrapper .fa-circle {
  margin-left: 6px;
  font-size: 1px;
}
.main .feed-section .tweets .tweets-wrapper .tweet-wrapper .user-name-wrapper .fa-ellipsis {
  margin-left: auto;
}
.main .feed-section .tweets .tweets-wrapper .tweet-wrapper .tweet-content-wrapper {
  height: calc(100% - 56px);
  padding-bottom: 10px;
}
.main .feed-section .tweets .tweets-wrapper .tweet-wrapper .tweet-content-wrapper p {
  font-weight: 200;
}
.main .feed-section .tweets .tweets-wrapper .tweet-wrapper .tweet-buttons-wrapper {
  height: 28px;
  display: flex;
  align-items: center;
  gap: 80px;
}
.main .feed-section .tweets .tweets-wrapper .tweet-wrapper .tweet-buttons-wrapper div {
  display: flex;
  align-items: center;
  gap: 12px;
}
.main .feed-section .tweets .tweets-wrapper .tweet-wrapper .tweet-buttons-wrapper div i {
  font-size: 18px;
}
.main .feed-section .tweets .tweets-wrapper .tweet-wrapper .tweet-buttons-wrapper div p {
  font-size: 12px;
  color: var(--twt-usrname);
}
.main .feed-section .tweets:hover {
  background-color: var(--twt-hover);
}

@media only screen and (max-width: 1200px) {
  .main {
    grid-template-columns: 1fr 5fr 1fr;
  }
  .main .nav-section {
    margin-left: auto;
  }
  .main .nav-section .wrapper {
    margin-left: 75px;
  }
  .main .nav-section .wrapper .header-block {
    margin-bottom: 40px;
  }
  .main .nav-section .wrapper li {
    margin-bottom: 20px;
  }
  .main .nav-section .wrapper .nav-icons {
    margin: 0 !important;
  }
  .main .nav-section .wrapper .hide-span {
    display: none;
  }
  .main .nav-section .wrapper .twt-btn {
    margin-left: 15px;
    height: 60px;
    width: 60px;
  }
  .main .nav-section .wrapper .user-box-popup {
    margin-top: auto;
  }
  .main .nav-section .wrapper .user-box-popup img {
    margin-left: 5px;
  }
  .main .nav-section .wrapper .user-box-popup i, .main .nav-section .wrapper .user-box-popup p {
    display: none;
  }
  .main .trends-section {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  .main {
    grid-template-columns: 85px 1fr;
  }
}/*# sourceMappingURL=style.css.map */